{{#partial "content"}}
    <h2>Site Maintenance Engineer - Nairobi East</h2>

                {{#if engineers}}

                    {{#each engineers }}
                        <div class="engineerDisplay">
                                <table>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                    <tr>
                                        <td>{{name}}</td>
                                        <td><p><a href="/engineers/{{id}}"> View details</a></p></td>
                                    </tr>
                                </table>
                            </div>
                    {{/each}}
                {{else}}
                    <p>No engineers!</p>
                {{/if}}
{{/partial}}

{{> layout.hbs}}