<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Site Maintenance{{/block}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lusitana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
<nav id="navigationbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><h2>Site Maintenance</h2></a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a href="/"><h2>Home</h2></a></li>
            <li><a href="/engineers/new"><h2>Engineers</h2></a></li>
            <li><a href="#"><h2>Sites</h2></a></li>
            <li><a href="#"><h2>Sites Per Engineer</h2></a></li>
        </ul>
    </div>
</nav>


<!--<ul class="nav nav-tabs">-->
<!--    <li role="presentation"><a href="/">Home</a></li>-->
<!--    <li role="presentation"><a href="/engineers/new">Add a New Engineer</a></li>-->
<!--</ul>-->
<!--<div class="welcome">-->
<!--    <div class="container">-->
<!--        &lt;!&ndash;begin main template&ndash;&gt;-->
<!--        <div class="page-header">-->
<!--            &lt;!&ndash;        <img src="/images/rawpixel-com-296621.jpg" width="70%" alt="https://unsplash.com/search/task?photo=Lh_bn9SgRSY">&ndash;&gt;-->
<!--            <p>Welcome to Site Maintenance Section </p>-->
<!--        </div>-->
<!--</div>-->
<div class="everything">

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <p class="text-muted"><a href="/engineers/delete">DELETE ALL Engineers</a></p>
        </div>
    </footer>
    </body>
    </html>
{{/block}}