{{#partial "content"}}
    <div class="welcome">
<!--        <h2>Site Maintenance</h2>-->
        <h1>Welcome to Site Maintenance</h1>
        <h2>Nairobi East</h2>
<!--        <img src="/images/first.jpeg" width="100%">-->
    </div>
{{/partial}}

{{> layout.hbs}}